.content{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    min-height: 300px;
    max-width:1200px;
    margin-right:auto; 
    margin-left: auto;
    margin-bottom: 50px;
    padding:50px;
}